 <h5>Set or unset verified</h5>

<form action="/verify" method="post" class="page-form">

  <div class="form-group">
    <input type="text" class="form-control" name="username" placeholder="Username" required>
  </div>

  <input type="radio" name="verify" value="1">Yes
  <input type="radio" name="verify" value="0">No

  <div style="text-align: center;">
    <input type="submit" class="btn btn-warning" value="Set or unset verified">
  </div>

</form>