{{#if user}}
  {{#unless user.username}}
    <form action="/username" method="post" id="usernameForm" class="{{#if formClass}}{{formClass}}{{else}}modal-form{{/if}}">
    <p>Usernames are associated with bikes instead of real names for simplicity, and some anonymity if desired.</p> 
    <p>You can choose any username as long as it hasn't been taken yet.</p>
      <div class="form-group">
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" required="true">
      </div>

      <input type="hidden" name="oauth_id" value="{{user.id}}">

      <div style="text-align: center;">
        <input type="submit" class="btn btn-warning" value="Set username">
      </div>
    </form>
  {{/unless}}
{{/if}}