<script type="text/javascript" defer="defer">


  $(document).ready(function() {

    var target = $('#upload_photo_group');

    $("#uploadForm").submit(function( event ) {
      event.preventDefault();
      // submit if image is attached:

      // crappy way for now:
      if($('#upload-target').attr('src').indexOf('example-with-upload.png') === -1) {
        // prep reasons.
        // it's so annoying, but formidable won't send an array of checkboxes and neither will req.body/req.params
        var reasons = [];
        $("input[name='reason_ids']:checkbox:checked").each(function(){
          reasons.push($(this).val());
        })
        $("#reasons").val(reasons.join(','));
        this.submit();
      } else {
        target.append('<div class="alert alert-warning" id="noAttachedPhotoWarning" role="alert">Please attach a photo of your bike to submit the form.</div>');
      }
    });

    function filePreview(input) {
      var maxSize = 5000000;
      var minSize = 35000;
      if (input.files && input.files[0]) {  
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#upload-target').attr('src', e.target.result);
          $('#upload-target').removeClass('upload-placeholder');
        }
        if(input.files[0].type !== 'image/jpeg' && input.files[0].type !== 'image/png') {
          target.append('<div class="alert alert-warning" id="noAttachedPhotoWarning" role="alert">Bike photo must be an image.</div>');
          return;
        }
        if(input.files[0].size <= minSize) {
          target.append('<div class="alert alert-warning" role="alert">Image size must be at least ' + minSize/1000 + 'K (Yours is ' + Math.round(input.files[0].size/1000) + 'K). Please attach a larger photo of your bike.</div>');
          return;
        }
        if(input.files[0].size > maxSize) {
          target.append('<div class="alert alert-warning" role="alert">Image size must be at less than <nowrap>' + maxSize/1000000 + ' Megabytes</nowrap> (Yours is ' + (input.files[0].size/1000000).toFixed(2) + 'M). Please attach a smaller photo of your bike.</div>');
          return;
        }
        reader.readAsDataURL(input.files[0]);
        $('#file_name').val(input.files[0].name);
        $('.alert-warning').remove();
      }
    }
    $("#bike_photo").change(function () {
      filePreview(this);
    });

    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus()
    })

  });
</script>

<h4>Let's make your bike page!</h4>
<form class="generic-container add-bike-form" id="uploadForm" enctype="multipart/form-data" method="post" action="/add">

<div class="row">

<div class="col-md-6">

    <div class="form-group text-center" id="upload_photo_group">
      <label class="custom-file-upload">
      <input type="file" name="bike_photo" id="bike_photo" class="form-control-file">

      <div class="upload-target-wrapper">
        <img src="/images/example-with-upload.png" width="540" class="add-bike-photo upload-placeholder" id="upload-target" style="display: inline;">

{{!--         <p class="text-warning" id="replace_image_hint" style="display:none;">Use another photo</p> --}}

        <div id="choose_photo_help">Choose a photo or drag it here</div>

      </div>

      <p class="help-block" id="primary_photo_help">(Primary photo must be from the side)</p>

      <input type="hidden" name="original_file_name" id="file_name" />
      </label>
    </div>

</div>

<div class="col-md-6">
    <input type="hidden" name="user_id" value="1">

    <div class="form-group">
    <label for="saySomething">What about your bike?</label>
    <!--<label for="saySomething">You can say whatever you like about this bike</label>--><textarea class="form-control" id="saySomething" rows="5" name="description"></textarea></div>

    <div class="form-group"><label for="nickname">If your bike had a name it would be</label><input type="text" class="form-control" id="nickame" name="nickname"></div>

    <div class="form-group">
      <label for="type_id">Type</label>
      <select class="form-control" id="type_id" name="type_id">
        <option></option>
        <option value="1">Road</option>
        <option value="2"> - Racing</option>
        <option value="3"> - Flat Bar Road</option>
        <option value="4"> - Time Trial</option>
        <option value="5"> - Triathlon</option>
        <option value="6">Mountain</option>
        <option value="7"> - Downhill</option>
        <option value="8"> - Fat</option>
        <option value="9">Hybrid</option>
        <option value="10"> - City</option>
        <option value="11"> - Trekking</option>
        <option value="12"> - Commuter</option>
        <option value="13"> - Cyclo-cross</option>
        <option value="14">Fixed Gear</option>
        <option value="15"> - BMX</option>
        <option value="16"> - Track</option>
        <option value="28">Step-Through</option>
        <option value="29"> - Mixte</option>
        <option value="30"> - Cross</option>
        <option value="17">Cruiser</option>
        <option value="18">Folding</option>
        <option value="19">Recumbent</option>
        <option value="20">Tandem</option>
        <option value="21">Tricycle</option>
        <option value="22">Unicycle</option>
        <option value="23">Utility</option>
        <option value="24">Freight</option>
        <option value="25">Rickshaw (Taxi)</option>
        <option value="26">Motorized</option>
        <option value="27">Electric</option>
      </select>
    </div>

    <div class="form-group">

    <label>This bike is for:</label><br>
      <label class="checkbox-inline">
        <input type="checkbox" name="reason_ids" value="1">
        fun
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" name="reason_ids" value="2">
        commute
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" name="reason_ids" value="3">
        work
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" name="reason_ids" value="4">
        exercise
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" name="reason_ids" value="5">
        social
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" name="reason_ids" value="6">
        style
      </label>
{{!--  <label class="checkbox-inline">
        <input type="checkbox" name="reason_ids" value="7">
        adventure
      </label> --}}
      <label class="checkbox-inline">
        <input type="checkbox" name="reason_ids" value="8">
        thrill
      </label>
      <label>
        <input type="checkbox" name="reason_ids" value="9" checked>
        The feeling of being in motion again. It's the most extraordinatry thing in the world.
      </label>

      <input type="hidden" name="reasons" id="reasons" value="">

    </div>

    <div class="form-group">
      <label for="serial_number">Serial Number</label>
      <input type="text" class="form-control" id="serial_number" name="serial_number">
      <p class="help-block">Optional but important: <a href="#" data-toggle="modal" data-target="#myModal">see why</a></p>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

</div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bicycle serial numbers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <p>The serial number is the unique id that will help recover your bike if it is stolen or lost, and therefore it is important that you record it.</p>

         <p>The serial number is probably located here:</p>

         <img src="/images/coming_soon.jpg" width="200" height="200" alt="placeholder diagram">

         <p>But may be located in any of these places:</p>

         <img src="/images/coming_soon.jpg" width="200" height="200" alt="placeholder diagram">

         <p>Go ahead and record all the numbers you find; the more the better.</p>

         <p class="text-warning">That's said, it's fine if you skip serial number for now.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</form>

<br><br><br>