<h4 class="title">{{page_heading}}</h4>
{{#if bike.id}}
  <div class="float-right edit-link-align-to-title">
    <a href="/bike/{{bike.id}}">View Bike</a>
  </div>
{{/if}}

<div class="row">

<div class="col-md-6">

  {{> upload}}

</div>

<div class="col-md-6">

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link"  data-toggle="tab" href="#intro" role="tab">Intro</a>
  </li>
  <li class="nav-item" id="basics_nav_item" {{#unless bike.id}}style="display:none"{{/unless}}>
    <a class="nav-link"  data-toggle="tab" href="#basics" role="tab">Basics</a>
  </li>
{{!--   <li class="nav-item">
   <a class="nav-link"  data-toggle="tab" href="#specifics" role="tab">Specifics</a>
  </li> --}}
</ul>

<div class="tab-content">

  {{> intro}}

  {{> basics}}

  {{> specifics}}

</div>

</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bicycle serial numbers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

         <p>The serial number is the unique id that will help recover your bike if it is stolen or lost, and therefore it is important that you record it.</p>

         

      <div class="row">

      <div class="col-md-6">

      <p>The serial number is probably located here:</p>
         <img src="/images/coming_soon.jpg" width="200" height="200" alt="placeholder diagram">

         </div>

         <div class="col-md-6">

         <p>But may be located in any of these places:</p>

         <img src="/images/coming_soon.jpg" width="200" height="200" alt="placeholder diagram">

         </div>
   </div>
         <p style="margin-top: 1.5rem;">Go ahead and record all the numbers you find; the more the better. Serial numbers are not displayed on bike pages.</p>

         <p class="text-warning">That's said, it's fine if you skip serial number for now.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<br><br><br>