      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="/bikes">Bikes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bike-add-link" href="/add">+ Add Your Bike</a>
            </li>
          </ul>
        </nav>
        <h4 class="text-muted amb-text-logo"><a href="/">{{title}}</a></h4>
      </div>

      <div class="bike-detail-container">
        <a href="#/view/1">
        <img class="bike-detail" src="/images/jerome-prep.jpg" alt="Fuji">
        </a>
      </div>

 <div class="row">
<div class="col-lg-12">
<h4 style="margin: 30px 0;"><a href="/bike/1">Peugeot PVN-10</a></h4>
</div>
</div>
      <div class="row">
        <div class="col-lg-7">
         
			<dl class="row">
			  <dt class="col-sm-3">Name</dt>
			  <dd class="col-sm-9">Blue Belle</dd>

			  <dt class="col-sm-3">Era</dt>
			  <dd class="col-sm-9">1980s</dd>

			  <dt class="col-sm-3">Details</dt>
			  <dd class="col-sm-9">
				<ul class="list-unstyled">
				  <li>Lorem ipsum dolor sit amet</li>
				  <li>Facilisis in pretium nisl aliquet</li>
				  <li>Nulla volutpat aliquam velit
				    <ul>
				      <li>Phasellus iaculis neque</li>
				      <li>Ac tristique libero volutpat at</li>
				    </ul>
				  </li>
				  <li>Aenean sit amet erat nunc</li>
				  <li>Eget porttitor lorem</li>
				</ul>
			  </dd>

			  <dt class="col-sm-3 text-truncate">City</dt>
			  <dd class="col-sm-9">San Francisco</dd>

			</dl>

         

        </div>

        <div class="col-lg-5 quote">
          <img src="/images/open-quote.png" class="curly-big">
         I found this bike when I was at home visiting my parents in France. My father was renting a little house to this man named Antoine, who was somewhat of a mysterious man. My father had not heard from him in a while so he decided to pay him a visit, and I went along with him. It turned out that Antoine had moved out without telling anyone in the village. The house...<a href="/bike/1">(Continue reading)</a>
        </div>
      </div>
    <hr>

