      <div class="bike-detail-container">
        <a href="/bike/2">
        <img class="bike-photo" src="/images/jerome-prep.jpg" alt="Fuji" width="700">
        </a>
      </div>

 <div class="row">
<div class="col-lg-12">
<h4 style="margin: 30px 0;"><a href="/bike/1">Peugeot PVN-10</a></h4>
</div>
</div>
      <div class="row">
        <div class="col-lg-6">
         
			<dl class="row">
			  <dt class="col-sm-3">Name</dt>
			  <dd class="col-sm-9">Antoine II</dd>

        <dt class="col-sm-3">Type</dt>
        <dd class="col-sm-9">Hybrid</dd>

        <dt class="col-sm-3">For</dt>
        <dd class="col-sm-9">fun, commute, style</dd>

        <dt class="col-sm-3">Brand</dt>
        <dd class="col-sm-9">Peugeot</dd>

			  <dt class="col-sm-3">Era</dt>
			  <dd class="col-sm-9">1980s</dd>

			  <dt class="col-sm-3 text-truncate">City</dt>
			  <dd class="col-sm-9">San Francisco</dd>

			</dl>

         

        </div>

        <div class="col-lg-6 quote">
          <img src="/images/open-quote.png" class="curly-big">
         I found this bike when I was at home visiting my parents in France. My father was renting a little house to this man named Antoine, who was somewhat of a mysterious man. My father had not heard from him in a while so he decided to pay him a visit, and I went along with him. It turned out that Antoine had moved out without telling anyone in the village. The house...<a href="/bike/1">(Continue reading)</a>
        </div>
      </div>
    <hr>

  <br><br>

  <div class="cta-wrapper">
     <p><a class="btn btn-lg btn-youll-grow-out-of-it" href="/add" role="button" {{#unless user}}data-toggle="modal" data-target="#loginModal"{{/unless}}>+ Add Your Bike</a></p>
  </div>

