<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" media="all" href="/css/landing.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>

  <div class="container">

    {{{body}}}

     <footer><hr><p><!-- react-text: 13 -->Please send us your&nbsp;<!-- /react-text --><a href="#/feedback">Feedback / Questions</a></p><p><small>©2017 AboutMyBike.com</p></small></p></footer>


  </div>

  <!-- PLACEHOLDER to preload js for other pages. this hs is not used or required for main pages (home, bikes, bike and add) -->


    <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/javascripts/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

