 <h5>Change Your Password</h5>

<form action="/password_change" method="post" class="page-form">
  <div class="form-group">
    <label for="password">New Password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
  </div>

  <input type="hidden" name="username" value="{{profile_user.username}}">

  <div style="text-align: center;">
    <input type="submit" class="btn btn-warning" value="Change your password">
  </div>

</form>