

<div class="container">
<div class="row justify-content-md-center">
<div class="col-8">
<h2 class="text-center">Privacy Notice</h2>
<hr>
<h5>Last Updated</h5>
<p>Mar. 25, 2017</p>

<p>This privacy notice discloses the privacy practices for aboutmybike.com ("About My Bike") and applies solely to information collected by this website. It will notify you of the following:
</p>

<ol>
<li>What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.
</li>

<li>What choices are available to you regarding the use of your data.
</li>

<li>The security procedures in place to protect the misuse of your information.
</li>

<li>How you can correct any inaccuracies in the information.
</li>
</ol>
<h5>Information Collection, Use, and Sharing 
</h5>

<p>We are the sole owners of the information collected on this site. We only have access to collect information that you voluntarily give us by signing up for this service and sharing through the use of this service. We may also collect basic information from a third party (ie. Facebook) if you use a thrid party federated login for creating an account.
</p>

<p>
At your option, you may also include a personal information on your profile page, but it is not required. 
</p>

<p>
All content that users add to the web site about their bicycles may be made public. It is the user's responsibilty to exclude information about their bike they do not want shared. Caution should be used when adding personally identifiable information such as location or favorite rides in bicycle descriptions. About My Bike is not responsible for any bicycle that is lost or stolen.
</p>

<p>We reserve the right to transfer content you have created using About My Bike if About My Bike is acquired by or merged with another company. In this event, About My Bike will notify you before the content you have created is transferred and becomes subject to a different privacy policy.</p>


<p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.
</p>

<p>Unless you ask us not to, we may contact you via email in the future to tell you about added features or services, or changes to this privacy policy.
</p>

<p>
About My Bike may disclose personally identifiable information under special circumstances, such as to comply with subpoenas or when your actions violate the <a href="https://aboutmybike.com/terms">Terms of Service</a>.
</p>


<h5>Registration</h5>
<p>
In order to add content to this website, a user must first complete a registration form. During registration a user is required to provide a valid email address and a username. Email address is used to contact you about the products/services on our site in which you have expressed interest. 
</p>
<p>
In the case you have opted to sign in with an external service (for example Facebook) the following information is collected from your external profile: email, name, and gender. 
</p>

<h5>Your Access to and Control Over Information 
</h5>

<p>You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:

</p>
<ul>
<li>See what data we have about you, if any.
</li>

<li>Change/correct any data we have about you.
</li>

<li>Have us delete any data we have about you.
</li>

<li>Express any concern you have about our use of your data.
</li>
</ul>

<h5>Security 
</h5>

<p>We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.
</p>

<p>Wherever we collect sensitive information (such as a custom password you use to create an account), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the Web page.
</p>

<p>While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.
</p>

<p>If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at 415-350-7930 or via email at aboutmybike@gmail.com.
</p>

<h5>Data Storage</h5>
<p>About My Bike uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run About My Bike.</p>

<h5>Links</h5>
<p>
This website may eventually include links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.
</p>

</div>
</div>
</div>

