// Core variables and mixins
@import "../../node_modules/bootstrap/scss/custom";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Reset and dependencies
@import "../../node_modules/bootstrap/scss/normalize";
@import "../../node_modules/bootstrap/scss/print";

// Core CSS
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";

// Components
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/alert";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities";

@import 'variables';
@import 'utilities';

@import 'awesomplete/awesomplete.base';
@import 'awesomplete/awesomplete';
//@import 'awesomplete/awesomplete.theme';

//awesomeplete overrides:

.awesomplete {
    display: block;
}

.awesomplete mark {
  background: hsla(327, 100%, 83%, 0.3);
  padding-right:0;
}

.awesomplete li:hover mark {
  background: hsla(327, 100%, 81%, 0.3);
}

.awesomplete li[aria-selected="true"] mark {
  background: hsla(8, 91%, 75%, 0.5);
  color: inherit;
}

.foo {
  @include absolute(0, 0, auto, auto);
}

a {
  color: #007dbc;
}


/* START JUMBOTRON NARROW OVERRIDE STYLES */

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  /* padding-bottom: 1rem; */
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* END JUMBOTRON NARROW OVERRIDE STYLES */


.curly-big {
  position: absolute;
  top: -5px;
  left: -18px;
  opacity: 0.25;
  width: 25px;
  height: 25px;
}

.amb-text-logo a {
  font-family: Didot;
  text-transform: uppercase;
  line-height: 1.7;
  color: #333;
}

.amb-text-logo a:hover {
  text-decoration: none;
  color: #333;
}

.btn-youll-grow-out-of-it {
  color: #fff;
  background-color: #fd48b3;
  border-color: #fd48b3;
}

.btn-youll-grow-out-of-it:hover {
  color: #fff;
  background-color: #f963bc;
  border-color: #f963bc;
}

.bike-add-link {
  color: #fd48b3;
}

.bike-add-link:hover {
  color: #e2369c;
}

.generic-container {
  padding: 3rem 0;
  margin: 0 auto;
}

.add-bike-form {
  max-width: 540px;
}

.form-check-label {
  padding-left: 1.25rem;
  cursor: pointer;
}

input[type="radio"] {
  margin: 0 1em;
  font-size: 1.4rem;
}

input[type="file"].form-control-file {
  display: none;
}

.preview-bike-photo-wrapper {
  height: 238px;
  width: 360px;
  overflow: hidden;
}

.form-control-number {
  width: 70px;
}

label {
  font-weight: normal;
}

legend {
  font-size: 1.6rem;
}


.add-bike-photo {
  width: 100%;
}

.upload-graphic {
  opacity: 0.30;
  cursor: pointer;
}

.upload-graphic:hover {
  opacity: 0.20; 
}

dl.bike-details dt {
  float: left;
  padding-right: 1rem;
}

.card {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}

.card-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bike-detail-container {
  text-align: center;
  margin-top: 10px;
}

.card {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  margin-bottom: 20px;
}

.card-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-photo-wrapper {
  width: 100%;
  overflow: hidden;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .card-photo-wrapper {
    height: 200px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .card-photo-wrapper {
    height: 155px;
  }
  .card-title {
    font-size: 1.1rem;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .card-photo-wrapper {
    height: 365px;
  }
}

@media (min-width: 465px) and (max-width: 499px) {
  .card-photo-wrapper {
    height: 290px;
  }
}

@media (max-width: 465px) {
  .card-photo-wrapper {
    height: 250px;
  }
}

.card-photo {
    width: 100%;
}

@media (min-width: 543px) and (max-width: 767px) {
  .bike-detail {
    width: 460px;
  }
}

@media (min-width: 500px) and (max-width: 543px) {
  .bike-detail {
    width: 400px;
  }
}

@media (min-width: 390px) and (max-width: 499px) {
  .bike-detail {
    width: 350px;
  }
}

@media (max-width: 389px) {
  .bike-detail {
    width: 270px;
  }
}
