// Core variables and mixins
@import "../../node_modules/bootstrap/scss/custom";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Reset and dependencies
@import "../../node_modules/bootstrap/scss/normalize";
@import "../../node_modules/bootstrap/scss/print";

// Core CSS
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";

// Components
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/dropdown";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities";

@import 'variables';
@import 'utilities';

@import 'awesomplete/awesomplete.base';
@import 'awesomplete/awesomplete';
//@import 'awesomplete/awesomplete.theme';

//awesomeplete overrides:

.awesomplete {
    display: block;
}

.awesomplete mark {
  background: hsla(327, 100%, 83%, 0.3);
  padding-right:0;
}

.selekter {
  position: absolute;
  border: 2px solid lime;
}

.awesomplete li:hover mark {
  background: hsla(327, 100%, 81%, 0.3);
}

.awesomplete li[aria-selected="true"] mark {
  background: hsla(8, 91%, 75%, 0.5);
  color: inherit;
}

a {
  color: #007dbc;
}

.nav-link-hack li a {
    padding: 0 1em 1em;
}

/* START JUMBOTRON NARROW OVERRIDE STYLES */

/* Space out content a bit */
body {
  padding: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/* currently the AMB layout gets padding from "container". this is commented.
.header,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}
*/

/* Custom page header */
.header {
  /* padding-bottom: 1rem; */
  border-bottom: .05rem solid #e5e5e5;
  margin-bottom: 2rem;
}

.round-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
}

.bike-detail-container {
  text-align: center;
}

.title {
  margin-bottom: 1.0rem;
  display: inline-block;
}

.edit-link-align-to-title {
  line-height: 200%;
}

.bike-column {
  padding-bottom: 1.0rem;
}

.cta-wrapper {
  text-align: center;
}

.custom-dropdown {
  /* caution: text-decoration is set inline on this element */
  text-decoration: none;
  margin-left: 1em;
}

.custom-dropdown-menu {
  padding: 0;
  margin: 0;
  min-width: inherit;
}

.custom-dropdown-menu a {
  padding-left: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2.5rem;
  }
}

.curly-big {
  position: absolute;
  top: -5px;
  left: -18px;
  opacity: 0.25;
  width: 25px;
  height: 25px;
}

.amb-text-logo a {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  text-transform: uppercase;
  line-height: 1.7;
  color: #333;
  line-height: 120%;
}

.amb-text-logo a:hover {
  text-decoration: none;
  color: #333;
}

.btn-youll-grow-out-of-it {
  color: #fff;
  background-color: #fd48b3;
  border-color: #fd48b3;
}

.btn-youll-grow-out-of-it:hover {
  color: #fff;
  background-color: #f963bc;
  border-color: #f963bc;
}

.tab-content {
  padding: 1.0rem 0;
}

input[type="file"].form-control-file {
  display: none;
}

label {
  font-weight: normal;
}

.upload-placeholder {
  opacity: 0.25;
}

.upload-placeholder:hover {
  opacity: 0.18;
}

dl.bike-details dt {
  float: left;
  padding-right: 1rem;
}

.upload-target-wrapper  {
  position: relative;
}

.crop-target {
  max-width: 770px;
  width: 100%;
}

#choose_photo_help {
    background-color: #ddd;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    padding: 8px;
    opacity: 0.5;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

.color-input {
  padding: 0;
  height: 36px;
  cursor: pointer;
}

.color-block {
  width: 20px;
  height: 20px;
  margin: 1px 0 2px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.fixed-width-inline-form-control  {
  width: 165px;
}

.form-control-number {
  width: 70px;
}

/* CARD STYLES */
/* an attempt to make a simple, temp. foolproof but decent grid, using the solution here:
http://stackoverflow.com/questions/10989238/center-align-image-within-div-horizontally
codepen here: http://jsfiddle.net/marvo/3k3CC/2/

The height on <img> is set to 100%, and the height of the photo wrapper is set to a specific height
at a breakpoint. The width of the img is determined by the browser and centered the wrapper

  display : block;
  margin : auto;

The values favor 4x3 ratio; taller will get centered and that images that are wider,
they'll get cut off horiz on one side. not ideal, but maybe a fine solution until you crop
images for the grid.

Another consideration is that all of the images use the same size photos but can be displayed vastly
different: ~500x380 vs 206x154 (!!!) FIX THIS.
*/

.card {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}

.card-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  font-size: smaller;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}

.card {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  margin-bottom: 20px;
}

.card-photo {
  display : block;
  margin : auto;
}

.card-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}

.card-photo-wrapping-link {
  text-align: center;
}

/* largest size catch-all */

.card-photo-wrapper {
  height: 261px;
  width: 348px;
  overflow:hidden;
}



/* Spinner styles */

/**
 * (C)Leanest CSS spinner ever
 */

@keyframes spin {
  to { transform: rotate(1turn); }
}

.progress {
  position: absolute;
  top: 40%;
  left: 42%;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 0 .5em;
  font-size: 12px;
  text-indent: 999em;
  overflow: hidden;
  animation: spin 1s infinite steps(8);
  visibility: hidden;
}

.small.progress {
  font-size: 6px;
}

.large.progress {
  font-size: 24px;
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2.25em; /* (container width - part width)/2  */
  width: .5em;
  height: 1.5em;
  border-radius: .2em;
  background: #eee;
  box-shadow: 0 3.5em #eee; /* container height - part height */
  transform-origin: 50% 2.5em; /* container height / 2 */
}

.progress:before {
  background: #555;
}

.progress:after {
  transform: rotate(-45deg);
  background: #777;
}

.progress > div:before {
  transform: rotate(-90deg);
  background: #999;
}

.progress > div:after {
  transform: rotate(-135deg);
  background: #bbb;
}

/* End Spinner styles */
@media (min-width: 992px) and (max-width: 1200px) {
  .card-photo-wrapper {
    height: 216px;
    width: 288px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .card-photo-wrapper {
    width: 208px;
    height: 156px;
  }
  .card-title {
    font-size: 0.9rem;
  }
}

@media (min-width: 601px) and (max-width: 767px) {
  .card-photo-wrapper {
    height: 381px;
    width: 508px;
  }
}

@media (max-width: 600px) {
  .card-photo-wrapper {
    width: 100%;
    overflow: auto;
    height: auto;
  }
  .card-photo {
    width: 100%;
    height: auto;
  }
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .title {
    font-size: smaller;
  }
  body {
    font-size: smaller;
  }
  .card-text {
    height: 30px;
  }
}

/* END CARD STYLE */

.bike-photo {
  max-width: 700px;
  max-height: 500px;
  width: 100%;
}

.add-bike-photo {
  cursor: pointer;
}.add-bike-photo {
  cursor: pointer;
}

@media (max-width: 767px) {
  .bike-photo  {
    max-width: none;
    max-height: none;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .fixed-width-inline-form-control  {
    width: 125px;
  }
}

/*
@media (min-width: 543px) and (max-width: 767px) {
  .bike-photo {
    width: 460px;
  }
}

@media (min-width: 500px) and (max-width: 543px) {
  .bike-photo {
    width: 400px;
  }
}

@media (min-width: 390px) and (max-width: 499px) {
  .bike-photo {
    width: 350px;
  }
}

@media (max-width: 389px) {
  .bike-photo {
    width: 270px;
  }
}
*/


/* UNUSED??? */

/* THE HTML IS COMMENTED OUT IN ADD.HBS */
/*
.wheel-hint {
  position: absolute;
  display: none;
  line-height: 120%;
}

@media (min-width: 768px) {
  .wheel-hint {
    display: block;
  }

  #right-wheel {
    top: 431px;
    left: 450px;
  }

  #left-wheel {
    top: 160px;
    left: 20px;
  }
}
*/
