// Core variables and mixins
@import "../../node_modules/bootstrap/scss/custom";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Reset and dependencies
@import "../../node_modules/bootstrap/scss/normalize";
@import "../../node_modules/bootstrap/scss/print";

// Core CSS
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";

// Components
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/dropdown";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities";

@import 'variables';
@import 'utilities';

@import 'awesomplete/awesomplete.base';
@import 'awesomplete/awesomplete';
//@import 'awesomplete/awesomplete.theme';

//awesomeplete overrides:

.awesomplete {
    display: block;
}

.awesomplete mark {
  background: hsla(327, 100%, 83%, 0.3);
  padding-right:0;
}

.awesomplete li:hover mark {
  background: hsla(327, 100%, 81%, 0.3);
}

.awesomplete li[aria-selected="true"] mark {
  background: hsla(8, 91%, 75%, 0.5);
  color: inherit;
}

.foo {
  @include absolute(0, 0, auto, auto);
}

a {
  color: #007dbc;
}


/* START JUMBOTRON NARROW OVERRIDE STYLES */

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/* currently the AMB layout gets padding from "container". this is commented.
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}
*/

/* Custom page header */
.header {
  /* padding-bottom: 1rem; */
  border-bottom: .05rem solid #e5e5e5;
  margin-bottom: 2rem;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* hack! */
.nav-link {
    padding: 0 1em 1em;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

.container {
 min-width: 480px;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
   /* max-width: 46rem; */
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 3rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* END JUMBOTRON NARROW OVERRIDE STYLES */

/* THIS MAY BE A TEST */
/* THE HTML IS COMMENTED OUT IN ADD.HBS */
/*
.wheel-hint {
  position: absolute;
  display: none;
  line-height: 120%;
}

@media (min-width: 768px) {
  .wheel-hint {
    display: block;
  }

  #right-wheel {
    top: 431px;
    left: 450px;
  }

  #left-wheel {
    top: 160px;
    left: 20px;
  }
}
*/

.curly-big {
  position: absolute;
  top: -5px;
  left: -18px;
  opacity: 0.25;
  width: 25px;
  height: 25px;
}

.amb-text-logo a {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  text-transform: uppercase;
  line-height: 1.7;
  color: #333;
  line-height: 120%;
}

.amb-text-logo a:hover {
  text-decoration: none;
  color: #333;
}

.btn-youll-grow-out-of-it {
  color: #fff;
  background-color: #fd48b3;
  border-color: #fd48b3;
}

.btn-youll-grow-out-of-it:hover {
  color: #fff;
  background-color: #f963bc;
  border-color: #f963bc;
}

.bike-add-link {
  color: #fd48b3;
}

.bike-add-link:hover {
  color: #e2369c;
}

.generic-container {
  padding: 0.9rem;
  margin: 0 auto;
}

.form-check-label {
  padding-left: 1.25rem;
  cursor: pointer;
}

input[type="radio"] {
  margin: 0 1em;
  font-size: 1.4rem;
}

input[type="file"].form-control-file {
  display: none;
}

.form-control-number {
  width: 70px;
}

label {
  font-weight: normal;
}

legend {
  font-size: 1.6rem;
}

.add-bike-photo {
  width: 100%;
  cursor: pointer;
}

.upload-placeholder {
  opacity: 0.25;
}
.upload-placeholder:hover {
  opacity: 0.18;
}

dl.bike-details dt {
  float: left;
  padding-right: 1rem;
}

.upload-target-wrapper  {
  position: relative;
}

#choose_photo_help {
    background-color: #ddd;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    font-size: smaller;
    padding: 8px;
    opacity: 0.5;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

.bike-detail-container {
  text-align: center;
  margin-top: 10px;
}

/* CARD STYLES */
/* an attempt to make a simple, temp. foolproof but decent grid, using the solution here:
http://stackoverflow.com/questions/10989238/center-align-image-within-div-horizontally
codepen here: http://jsfiddle.net/marvo/3k3CC/2/

The height on <img> is set to 100%, and the height of the photo wrapper is set to a specific height
at a breakpoint. The width of the img is determined by the browser and centered the wrapper

  display : block;
  margin : auto;

The values favor 4x3 ratio; taller will get centered and that images that are wider,
they'll get cut off horiz on one side. not ideal, but maybe a fine solution until you crop
images for the grid.

Another consideration is that all of the images use the same size photos but can be displayed vastly
different: ~500x380 vs 206x154 (!!!) FIX THIS.
*/

.card {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}

.card-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  font-size: smaller;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}

.card {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
  margin-bottom: 20px;
}

.card-photo {
  display : block;
  margin : auto;
}

.card-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}

.card-photo-wrapping-link {
  text-align: center;
}

/* largest size catch-all */

.card-photo-wrapper {
  height: 261px;
  width: 348px;
  overflow:hidden;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .card-photo-wrapper {
    height: 216px;
    width: 288px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .card-photo-wrapper {
    width: 208px;
    height: 156px;
  }
  .card-title {
    font-size: 0.9rem;
  }

}

@media (min-width: 542px) and (max-width: 767px) {
  .card-photo-wrapper {
    height: 381px;
    width: 508px;
  }
}

/* just between min (480) and 541 */
@media (max-width: 541px) {
  .card-photo-wrapper {
    height: 335px;
    width: 448px;
  }
}

/* END CARD STYLE */




.bike-detail, .add-bike-photo {
  max-width: 700px;
  max-height: 500px;
}

@media (max-width: 767px) {
  .bike-detail, .add-bike-photo  {
    max-width: none;
    max-height: none;
    width: 100%;
  }
}

/*
@media (min-width: 543px) and (max-width: 767px) {
  .bike-detail, .add-bike-photo  {
    width: 460px;
  }
}

@media (min-width: 500px) and (max-width: 543px) {
  .bike-detail, .add-bike-photo  {
    width: 400px;
  }
}

@media (min-width: 390px) and (max-width: 499px) {
  .bike-detail, .add-bike-photo  {
    width: 350px;
  }
}

@media (max-width: 389px) {
  .bike-detail, .add-bike-photo  {
    width: 270px;
  }
}
*/
